<ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
        <a class="nav-link text-dark fw-bold" asp-controller="TuketimNoktasi" asp-action="Index">Tüketim Noktaları</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark fw-bold" asp-controller="Sozlesme" asp-action="Index">Sözleşmeler</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fw-bold text-dark" asp-controller="IsEmri" asp-action="Index">İş Emirleri</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fw-bold text-dark" asp-controller="EndeksOkuma" asp-action="Index">Endeks Okuma</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fw-bold text-dark" asp-controller="Fatura" asp-action="Index">Faturalar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fw-bold text-primary" asp-controller="AboneSorgulama" asp-action="Index">Abone Sorgulama</a>
    </li>

    @if (User.IsInRole("Yonetici"))
    {
        <li class="nav-item">
            <a class="nav-link text-danger fw-bold" asp-controller="Admin" asp-action="Index">Admin Paneli</a>
        </li>
    }
</ul>

<hr>

<div>
    <div class="mb-2">
        <span class="text-muted d-block">Hoş geldin,</span>
        <strong class="text-primary">@User.Identity?.Name</strong>
    </div>
    <a class="btn btn-outline-danger btn-sm w-100" asp-controller="Auth" asp-action="Logout">Çıkış Yap</a>
</div>